/* Layout
 * ------
 * Using a negative margin technique, adapted from ZEN. The page is loaded by this order:
 *
 * 1. Header
 * 2. Content
 * 3. Navigation menus
 * 4. Sidebar Left
 * 5. Sideabr Right */
/* Layout rules. (Disclaimer: do not change if you're not sure you know what you're doing.) */
#page {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
#page:before, #page:after {
  content: "";
  display: table;
}
#page:after {
  clear: both;
}

#content {
  float: left;
  width: 600px;
  margin-left: 180px;
  margin-right: -780px;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

#sidebar-first {
  float: left;
  width: 180px;
  margin-left: 0px;
  margin-right: -180px;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

#sidebar-second {
  float: left;
  width: 180px;
  margin-left: 780px;
  margin-right: -960px;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

#footer {
  float: none;
  clear: both;
}

/* Layout Helpers */
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

/* Columns Inner
 * -------------
 * You can change the padding inside the columns without changing the
 * width of them by just usinbg the INNER div of each column */
.inner {
  padding: 0;
}

/* Navigation styles */
#navigation li {
  list-style-type: none;
  display: inline-block;
}
