/** Print styles 
---------------------------------*/

*{background:transparent none;}
body {line-height:1.5;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;color:#000;background:none;font-size:10pt;}
a img {border:none;}
p img.top {margin-top:0;}

.sidebar, 
#site-menu, 
#header-region, 
#footer,
.breadcrumb,
.tabs,
.feed-icon,
.links,
form,
#toolbar {
	display: none;
}
#page {
	width: 100%;
}
#content,
#content #content-inner,
.content,
.title {
	margin:20px 0;
	width: auto;
}
a:hover, a:active, a:link, a:visited {
  text-decoration:none;
	color: #000;
}
a:link:after, a:visited:after {content:" (" attr(href) ")";font-size:90%;}