/*
Error: Inconsistent indentation: previous line was indented by 4 spaces, but this line was indented by 3 spaces.
        on line 6 of sass/style.sass

1: /* Font styles.
2: body
3:   margin: 0
4:   /* Setting up font size, leading and font family
5:     http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography
6:    *\/
7:   font: 13px / 1.5em "Helvetica Neue", helvetica, Arial, sans-serif
8:   letter-spacing: 0.03em
9: 
10: /* Links
11: a

Backtrace:
sass/style.sass:6
/Users/steve/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.4.6/lib/sass/engine.rb:494:in `try_comment'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.4.6/lib/sass/engine.rb:461:in `block in tabulate'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.4.6/lib/sass/engine.rb:431:in `each'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.4.6/lib/sass/engine.rb:431:in `each_with_index'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.4.6/lib/sass/engine.rb:431:in `tabulate'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.4.6/lib/sass/engine.rb:396:in `_to_tree'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.4.6/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.4.6/lib/sass/engine.rb:285:in `render_with_sourcemap'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:396:in `run'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.4.6/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.4.6/lib/sass/exec/base.rb:52:in `parse'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.4.6/lib/sass/exec/base.rb:19:in `parse!'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.4.6/bin/sass:13:in `<top (required)>'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/bin/sass:23:in `load'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/bin/sass:23:in `<main>'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/bin/ruby_executable_hooks:15:in `eval'
/Users/steve/.rvm/gems/ruby-1.9.3-p484/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: previous line was indented by 4 spaces, but this line was indented by 3 spaces.\A         on line 6 of sass/style.sass\A \A 1: /* Font styles.\A 2: body\A 3:   margin: 0\A 4:   /* Setting up font size, leading and font family\A 5:     http://www.markboulton.co.uk/journal/comments/five-simple-steps-to-better-typography\A 6:    */\A 7:   font: 13px / 1.5em \"Helvetica Neue\", helvetica, Arial, sans-serif\A 8:   letter-spacing: 0.03em\A 9: \A 10: /* Links\A 11: a"; }
