// Variables
// ---------
// Use the same color all over the place? Need to do
// some math with height and width and text size?
// Sass supports variables as well as basic math
// operations and many useful functions.
//
// For complete documentation:
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_
//
// Available functions:
// http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html

// Import variables and mixins to be used.
@import "zen"

// Add Compass' IE and vendor prefix support variables.
@import "compass/support"

// Better than Drupal's clearfix.
@import "compass/utilities/general/clearfix"

// See http://compass-style.org/help/tutorials/spriting/
@import "compass/utilities/sprites"

// Use one CSS3 mixin instead of multiple vendor prefixes.
@import "compass/css3"

// Helps set up a vertical rhythm.
@import "compass/typography/vertical_rhythm"

// Grids
$zen-column-count: 16
$zen-gutter-width: 20px
$zen-grid-width: 960px

// Grids based on 960.gs
$total-columns: 6
$column-width: 60px
$gutter-width: 20px
$grid-padding: 10px
$break: 12

// Uncomment to create fluid.
// $container-style: fluid
// Uncomment to contain fluid width.
// $container-width: 80%

// Widths.
$page_width: 960px
$first_sidebar_width: 190px
$second_sidebar_width: 200px