// Variables
// ---------
// Use the same color all over the place? Need to do
// some math with height and width and text size?
// Sass supports variables as well as basic math
// operations and many useful functions.
//
// For complete documentation:
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_
//
// Available functions:
// SASS:				http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html
// Compass:				http://compass-style.org/reference/compass/
// Bourbon:				http://bourbon.io/docs/
// Boubon Neat (grid):	https://github.com/thoughtbot/neat#using-the-grid

// Change visual grid.
$visual-grid: true
$visual-grid-color: #EEEEEE

// Change the grid settings
$column: 90px
$gutter: 30px
$grid-columns: 12 
$max-width: em(1088)

// Define your breakpoints
$mobile: new-breakpoint(max-width 480px 4)
$tablet: new-breakpoint(max-width 768px 8)