@import _variables.sass
@import _mixins.sass

/* Layout
  ------
  Using a negative margin technique, adapted from ZEN. The page is loaded by this order:

  1. Header
  2. Content
  3. Navigation menus
  4. Sidebar Left
  5. Sideabr Right

/* Layout rules. (Disclaimer: do not change if you're not sure you know what you're doing.)
#page
  @include outer-container
  margin-left: auto
  margin-right: auto
  width: $max-width
  @include media(max-width $max-width)
    width: auto

#content
  @include span-columns(8)
  @include media(max-width $max-width)
    @include span-columns(12)

#sidebar-first
  @include span-columns(4)
  @include media(max-width $max-width)
    @include span-columns(12)

// TODO figure out 2 column layout.
//#sidebar-second
//  @include span-columns(2)

#footer
  float: none
  clear: both

/* Layout Helpers
#header,
#footer,
.mission,
.breadcrumb,
.node
  clear: both

/* Columns Inner
  -------------
  You can change the padding inside the columns without changing the
  width of them by just usinbg the INNER div of each column
.inner
  padding: 0

/* Navigation styles
#navigation
  li
    list-style-type: none
    display: inline-block

// Navigation height.
//.with-navigation
//  #content,
//  .sidebar
