/* $Id$
*/

@CHARSET "UTF-8";

/**
 *
 * ABOUT
 *
 * Style.css is the first custom stylesheet called in the CSS order (for the remaining stylesheets, see template.php line 15).
 * Please place commonly used CSS snippets here. Otherwise, place design specific styles in css/main.css
 */

/* Simple Layout reset */

* { margin: 0; padding: 0; }


/**
 * How To Clear Floats Without Structural Markup: 
 * http://www.positioniseverything.net/easyclearing.html
 * 
 */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix { display: inline-block; }

/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

/* clear classes for content */

.clearleft { clear: left; }

.clearright { clear: right; }

.clearboth { clear: both; }

/* Float classes for images */

.floatleft { float: left; margin: 0 10px 5px 0 !important; }

.floatright { float: right; margin: 0 0 5px 10px !important; }

.floatleft .caption { font-size: 10px; font-weight: bold; text-transform: uppercase; padding-top: 5px; }

/* "Skip to Main Content" link
*
* This link useful for both visually impaired people and those with mobility impairments
* who cannot use a mouse.
*/

#skip-nav {
  display: none;
}

#skip-nav a, #skip-nav a:hover, #skip-nav a:visited {
  position: absolute;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip-nav a:active, #skip-nav a:focus {
  position: static;
  width: auto;
  height: auto;
}

/** Prevent overflowing content **/

#header,
#content,
#sidebar-left,
#sidebar-right,
#footer {
  overflow: visible;
  word-wrap: break-word; /* A very nice CSS3 property */
}